body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: scroll;
}

.hero-container {
    padding: 0px 200px;
    padding-bottom: 48px;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.header-links {
    display: flex;
    list-style: none;
    gap: 16px;
}

.header-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 8px;
}

.hero-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-placeholder {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 200px;
    background-color: gray;
}

.sign-button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    padding: 8px 16px;
    width: 120px;
    border-radius: 8px;
}